---
title: Über das Archiv
description: Handschriften- und Druckverzeichnis, Forschungsbibliographie, Jakob Michael Reinhold Lenz, Theateraufführungen, Musiktheater, Vertonungen, Biographische Filme, Werkverfilmungen, Lenz als literarische Figur, Büchners Erzählung „Lenz“, Zeichnungen, Emmendingen, Briefausgabe
layout: base
eleventyNavigation:
  key: Über das Archiv
---

<div class="maincolumn">
  <img class="mr-4 h-[380px] sm:float-left mb-4" src="/static/index/bild startseite archiv 1.jpg">
  <p>Das Jakob Lenz Archiv Heidelberg versammelt das Nachlassmaterial des Stürmer und Drängers Jakob (Jacob) Michael Reinhold Lenz (1751–92) sowie die zu ihm erschienene Forschungsliteratur. Unter „Edition“ finden sich Hinweise auf abgeschlossene und in Arbeit befindliche Publikationen des Lenz Archivs: <a href="/edition/zeichnungen/">zu den Zeichnungen</a>, <a href="/edition/emmendingen/">seiner Zeit in Emmendingen</a> sowie zu der <a href="/edition/briefausgabe/">Kritischen Briefausgabe</a> und der <a href="/edition/dramenentwürfe/">Kritischen Ausgabe der Dramenentwürfe</a>.
  <p>Lenz’ Nachlass liegt auf zahlreiche Standorte verteilt; ein <a href="/verzeichnisse/handschriften/">Handschriftenverzeichnis</a> gibt hierüber detailliert Auskunft. Zudem sind die <a href="/verzeichnisse/selbststaendige_drucke/">selbstständigen</a> und <a href="/verzeichnisse/unselbststaendige_drucke/">unselbstständigen</a> Drucke zu Lebzeiten mitsamt Faksimile verzeichnet. 

<p>Das <a href="/verzeichnisse/posthume_ausgaben/">Verzeichnis der posthumen Ausgaben</a> und der <a href="/verzeichnisse/uebersetzungen/">Übersetzungen</a>, die <a href="/verzeichnisse/forschungsbibliographie/">Forschungsbibliographie</a> und die <a href="/verzeichnisse/theaterauffuehrungen/">Aufstellung der Theateraufführungen</a> geben einen Einblick in die Resonanz, die das Lenzsche Werk hervorgerufen hat und immer noch hervorbringt. Dazu gehören auch <a href="/verzeichnisse/musiktheater_vertonungen/">Musiktheater/Vertonungen</a>, <a href="/verzeichnisse/biographische_filme_werkverfilmungen/">biographische Filme/Werkverfilmungen</a> sowie <a href="/verzeichnisse/lenz_als_literarische_figur/">Lenz als literarische Figur</a>.
<p>Ein <a href="/chronik/">Überblick zu Leben und Werk</a> mit <a href="/biographische_landkarte/">Karten</a> seiner Lebensstationen kontextualisiert die Verzeichnisse. <a href="/buechners_lenz/">Büchners Erzählung „Lenz“ (1839)</a> ist für die Rezeption von Lenz’ Leben wichtig geworden.</p> 
        <p>Das Archiv knüpft an die Arbeit der Mannheimer Forschungsstelle unter Christoph Weiß an, um die umfassende wissenschaftliche Erschließung der Werke und der Biographie von Lenz weiter voran zu bringen. Die Grundlagenforschung zu Lenz erhält mit dem Archiv einen physischen und zudem mit dieser Website einen virtuellen Ort, um die Nachlass- und Forschungsmaterialien möglichst vollständig zu erschließen und zu bewahren. 
</div>
