---
title: Kritische Briefausgabe
description: Editionsvorhaben einer kritischen Briefausgabe der Briefe von Jakob Lenz 
eleventyNavigation:
  key: Kritische Briefausgabe
  parent: Edition
  order: 3
  status: Laufend 
---

<div class="maincolumn">
<img class="mx-4 h-[380px] sm:float-right mb-4" src="/static/edition/bild_briefe.jpg">
<p>Ediert werden sämtliche Briefe an und von Lenz als durchsuchbarer Volltext. Die Briefe von und an Lenz werden ohne stillschweigende Eingriffe, Vereinheitlichungen oder Kürzungen dargeboten werden, indem die Edition
jeweils direkt das Manuskript oder die primäre Drucküberlieferung heranzieht. 
<p>Aufgenommen werden nur
tatsächliche Briefe, also keine Stammbucheinträge oder ähnliches. Grundlage ist jeweils die materiale Basis, sodass auch z.B.
poetische Entwürfe, die sich auf Briefmanuskripten finden, mit dargestellt werden. Zur Materialität
gibt das <a href="https://lenz-archiv.de/verzeichnisse/handschriften/">Handschriftenverzeichnis des
Lenz Archivs Heidelberg &rarr;</a> detailliert Auskunft.

<p>Perspektivisch sollen die Briefe auch kommentiert werden.
</div>
